COMPOSE_FILE=docker-compose.prod.yml

MYSQL_DATABASE=woodtools
MYSQL_USER=woodtools
MYSQL_PASSWORD=change_this_database_password
MYSQL_ROOT_PASSWORD=change_this_root_password

WORDPRESS_PORT=80
WORDPRESS_DEBUG=false
WORDPRESS_SITE_URL=https://store.dmsphdabrasives.com
